<!-- .log -->
<div id="log" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Photo Log</h1>

    <!-- .container-log -->
    <div class="container-log">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="Today Yesterday TwoDaysAgo ThreeDaysAgo">All</span></li>
            <li><span class="filter" data-filter="Today">Today</span></li>
            <li><span class="filter" data-filter="Yesterday">Yesterday</span></li>
            <li><span class="filter" data-filter="TwoDaysAgo">2 Days Ago</span></li>
            <li><span class="filter" data-filter="ThreeDaysAgo">3 Days Ago</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #loglist -->
        <div id="log list">

            <!-- .log -->
            <div class="log 3DaysAgo" data-cat="ThreeDaysAgo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <img src="..\images\portfolio\12-28-17\0600" alt="12-28-17 at 06:00:00" />
                      <div class="label">
                          <div class="label-text">
                              <a class="text-title">Since</a>
                              <span class="text-category">3DaysAgo</span>
                          </div>
                          <div class="label-bg"></div>
                    </div>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->



            <!-- .log -->
            <div class="log Today" data-cat="Today">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/12-31-17/0800" rel="log" title ="12-31-17 at 08:00:00">
                        <img src="images/log/12-31-17/0800" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log Today" data-cat="Today">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/3.jpg" rel="log">
                        <img src="images/log/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log TwoDaysAgo" data-cat="TwoDaysAgo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/4.jpg" rel="log">
                        <img src="images/log/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log Today" data-cat="Today">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/5.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/5.jpg" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log TwoDaysAgo" data-cat="TwoDaysAgo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/6.jpg" rel="log">
                        <img src="images/log/6.jpg" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log Yesterday" data-cat="Yesterday">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/7.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log ThreeDaysAgo" data-cat="ThreeDaysAgo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images//8.jpg" rel="log" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">ThreeDaysAgo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log Today" data-cat="Today">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/9.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/9.jpg" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log Yesterday" data-cat="Yesterday">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/10.jpg" rel="log">
                        <img src="images/log/10.jpg" alt="QR Quick Response" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log ThreeDaysAgo" data-cat="ThreeDaysAgo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/11.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="log">
                        <img src="images/log/11.jpg" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">ThreeDaysAgo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <!-- .log -->
            <div class="log ThreeDaysAgo" data-cat="ThreeDaysAgo">
                <!-- .log-wrapper -->
                <div class="log-wrapper">
                    <a href="images/log/12.jpg" rel="log">
                        <img src="images/log/12.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">ThreeDaysAgo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.log-wrapper -->
            </div>
            <!-- /.log -->

            <div class="clear"></div>

        </div>
        <!-- #loglist -->
    </div>
    <!-- /.container-log -->
</div>
<!-- End .log -->
