<!-- .id -->
<div id="id" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">id - My Works</h1>

    <!-- .container-id -->
    <div class="container-id">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="Today Yesterday 2 Days Ago 3 Days Ago">All</span></li>
            <li><span class="filter" data-filter="Today">Today</span></li>
            <li><span class="filter" data-filter="Yesterday">Yesterday</span></li>
            <li><span class="filter" data-filter="2 Days Ago">2 Days Ago</span></li>
            <li><span class="filter" data-filter="3 Days Ago">3 Days Ago</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #idlist -->
        <div id="idlist">

            <!-- .id -->
            <div class="id 3 Days Ago" data-cat="3 Days Ago">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/log/12-28-17/0600.jpg" rel="id" title="">
                        <img src="images/log/12-28-17/0600.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">3 Days Ago</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->



            <!-- .id -->
            <div class="id Today" data-cat="Today">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="http://www.youtube.com/watch?v=c9MnSeYYtYY" rel="id">

                        <img src="images/id/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id Today" data-cat="Today">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/3.jpg" rel="id">
                        <img src="images/id/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id 2 Days Ago" data-cat="2 Days Ago">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/4.jpg" rel="id">
                        <img src="images/id/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id Today" data-cat="Today">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/5.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="id">
                        <img src="images/id/5.jpg" alt="Weatherette" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id 2 Days Ago" data-cat="2 Days Ago">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/6.jpg" rel="id">
                        <img src="images/id/6.jpg" alt="BMF" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id Yesterday" data-cat="Yesterday">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/7.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="id">
                        <img src="images/id/7.jpg" alt="Techlion" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id 3 Days Ago" data-cat="3 Days Ago">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/8.jpg" rel="id" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien.">
                        <img src="images/id/8.jpg" alt="KittyPic" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">3 Days Ago</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id Today" data-cat="Today">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/9.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="id">
                        <img src="images/id/9.jpg" alt="Graph Plotting" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id Yesterday" data-cat="Yesterday">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/10.jpg" rel="id">
                        <img src="images/id/10.jpg" alt="QR Quick Response" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Graphic Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id 3 Days Ago" data-cat="3 Days Ago">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/11.jpg" title="Etiam quis mi eu elit tempor facilisis id et neque. Nulla sit amet sem sapien." rel="id">
                        <img src="images/id/11.jpg" alt="Mobi Sock" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">3 Days Ago</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <!-- .id -->
            <div class="id 3 Days Ago" data-cat="3 Days Ago">
                <!-- .id-wrapper -->
                <div class="id-wrapper">
                    <a href="images/id/12.jpg" rel="id">
                        <img src="images/id/12.jpg" alt="Village Community Church" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">3 Days Ago</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.id-wrapper -->
            </div>
            <!-- /.id -->

            <div class="clear"></div>

        </div>
        <!-- #idlist -->
    </div>
    <!-- /.container-id -->
</div>
<!-- End .id -->
